{{- define "title" -}}{{ .Title }}{{- end -}}

{{- define "content" -}}
    <ul>
        {{- range .Entities -}}
        <li><a href="/{{.Slug}}">{{.}}</a></li>
        {{- end -}}
    <ul>
{{- end -}}
