{{- define "title" -}}
    {{.Entity}}
{{- end -}}

{{- define "content" -}}
    {{- template "entity" .Entity -}}
{{- end -}}

{{- define "properties" -}}
    {{- with .Properties -}}
    <h2>Properties</h2>
    <ul>
        {{- range $name, $prop := . -}}
            {{- $label := $prop.Definition.Label -}}
            {{- range $prop.Values -}}
            <li>
                <strong>{{$label}}{{if .Date.Valid}} ({{.Date}}){{end}}:</strong> {{.}}
                {{- with .Fields -}}
                <ul>
                    {{- range . -}}
                    <li><strong>{{.Definition.Label}}:</strong> {{.}}</li>
                    {{- end -}}
                </ul>
                {{- end -}}
            </li>
            {{- end -}}
        {{- end -}}
    </ul>
    {{- end -}}
{{- end -}}


{{- define "notes" -}}
    {{- with .Notes -}}
    <h2>Notes</h2>
    <ol>
        {{- range $i, $note := . -}}
        <li>{{$note}}</li>
        {{- end -}}
    </ol>
    {{- end -}}
{{- end -}}
