<!DOCTYPE html>
<html lang='en-us'>

<head>
    <meta charset='utf-8' />
    <meta viewport='width=device-width' />
    <meta viewport='initial-scale=1' />
    <meta viewport='user-scalable=yes' />
    <link href='/favicon.ico' rel='icon' />

    <title>{{template "title" .}}</title>
</head>

<body>
    <header>
        <a class='title' href='/'>GLX Web Archive Navigator</a>
        <nav>
            <a href="/assertions">Assertions</a>
            | <a href="/citations">Citations</a>
            | <a href="/events">Events</a>
            | <a href="/media">Media</a>
            | <a href="/persons">People</a>
            | <a href="/places">Places</a>
            | <a href="/relationships">Relationships</a>
            | <a href="/repositories">Repositories</a>
            | <a href="/sources">Sources</a>
        </nav>
    </header>

    <main>
        <h1>{{template "title" .}}</h1>
        {{template "content" .}}
    </main>

    <footer>
        <p>Rendered by glx-web</p>
    </footer>
</body>

</html>
